
<div clas ='jumbotron'>
<h1 align='center'>Welcome to RORTrainingClass101!</h1>
<p align='center'>Good place for training class</p>

<p align='center'><%= link_to "sign up",new_user_registration_path %></p>

<p align='center'><%= link_to "sign in",new_user_session_path %></p>

</div>