
<div clas ='jumbotron'>
<h1 align='center'>Welcome to RORTrainingClass101!</h1>
<p align='center'>Good place for training class</p>

<p align='center'><%= link_to "sign up","#" %></p>

<p align ='center'><a href="#" > sign in </a></p>

</div>